#first{
    text-align: center;
    width: 100%;
    margin-top: 250px;
}
body{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}
#name{
    height: 48px;
    position: relative;
}
.name{
    float: left;
    width: 119px;
    border: 1px solid #e0e0e0;
    height: 100%;
    text-indent: 18px;
    line-height: 44px;
    color: #000;
    border-right: none;
}
.name .inputname{
    float: left;
    width: 200px;
    height: 10%;
    text-indent: 11px;
    font-size: 16px;
    /* border: none; */
    border: 1px solid #e0e0e0;
}
