#first{
    text-align: center;
    width: 100%;
    margin-top: 250px;
}
body{
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}



