h1{
    background-color: aquamarine;
    height: 40px;
    margin: 0%;
}
header{
    width: 100%;
    height: 1000px;
    /* position: relative; */
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url(../pictures/55.jpg);
    background-repeat: no-repeat;
}
#header-content{
    width: 100%;
    /*text-align: center;*/
    text-align: center;
}
#header-inside{   
    /* margin-top: 100px; */
    
    border: 100px;
    padding: 100px;

}