.header-content ul li{
    float: left;
    padding-left: 50px;
    list-style-type: none;
    margin-top: 20px;
}
#headerPicture{
    margin-left: 0px;
    float: left;
    
}
.headerStyle{
    margin-left: 0px;
    margin-top: 2px;
}
.headerRight{
    float: right;
    font-size: 20px;
}
#btnLogin{
    width: 100px;
    height: 40px;
}
.text-content{
    width: 100%;
    padding-top: 70px;
}
.title h2{
    margin-top: 20px;
}
.card-list ul li{
    list-style-type: none;
    float: left;
    width: 25%;
}
.card-list .cover img{
    width: 300px;
    height: 300px;
    position: relative;
}